In [1]:
import pandas as pd
import csv

Problema: O arquivo "T_FATURAS" tinha como separador de números decimais uma vírgula ao invés de um ponto, o que causaria a interpretação de mais colunas que o desejado, já que o separador de colunas é a vírgula.

In [2]:
# Transformando a extensão de um arquivo que estava em .xlsx para .csv

read_file = pd.read_excel ("C:/Users/diogo/Desktop/CASEBI _2/T_CANAIS_DIGITAIS.xlsx") 
read_file.to_csv ("C:/Users/diogo/Desktop/CASEBI _2/T_CANAIS_DIGITAIS.csv",  
                  index = None, 
                  header=True)

In [3]:
# Renomeando o cabeçalho (header) do arquivo

file_name = "C:/Users/diogo/Desktop/CASEBI _2/T_FATURAS.csv"
df = pd.read_csv(file_name, sep=',', names=['DT_VENCIMENTO','DtCorte','MÊS_FATURAMENTO','DS_TIPO_FATURA','ds_rolagem','vl_creditos','VL_FATURA_ANTERIOR','VL_FATURA_ATUAL','NU_FATURA','id_cliente','a','b','c'], header=0)

In [4]:
# Concatenação das colunas de valores decimais separados por "," e substituição por "." , através da criação de colunas temporárias

df["vl_creditos_Temp"] = df["vl_creditos"].astype(str) + '.' + df["VL_FATURA_ANTERIOR"].astype(str)
df.head()
df["VL_FATURA_ANTERIOR_Temp"] = df["VL_FATURA_ATUAL"].astype(str) + '.' + df["NU_FATURA"].astype(str)
df["VL_FATURA_ATUAL_Temp"] = df["id_cliente"].astype(str) + '.' + df["a"].astype(str)
df["NU_FATURA_Temp"] = df["b"]
df["id_cliente_Temp"] = df["c"]

In [5]:
# Substituição dos valores corrigidos nas colunas originais e drop das colunas temporárias

df["vl_creditos"] = df["vl_creditos_Temp"]
df["VL_FATURA_ANTERIOR"] = df["VL_FATURA_ANTERIOR_Temp"]
df["VL_FATURA_ATUAL"] = df["VL_FATURA_ATUAL_Temp"]
df["NU_FATURA"] = df["NU_FATURA_Temp"]
df["id_cliente"] = df["id_cliente_Temp"]
df.drop(columns=["a", "b","c","vl_creditos_Temp","VL_FATURA_ANTERIOR_Temp","VL_FATURA_ATUAL_Temp","NU_FATURA_Temp","id_cliente_Temp"],inplace=True)

In [6]:
df

,DT_VENCIMENTO,DtCorte,MÊS_FATURAMENTO,DS_TIPO_FATURA,ds_rolagem,vl_creditos,VL_FATURA_ANTERIOR,VL_FATURA_ATUAL,NU_FATURA,id_cliente
0,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR CORREIO,FX0,33.98,33.98,49.99,6,1822844049
1,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR CORREIO,FX0,178.0,178.1,203.66,6,1823039342
2,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR WHATSAPP,FX0,294.50,292.50,187.19,5,1823090031
3,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR CORREIO,FX0,174.50,127.2,160.41,6,1823183466
4,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR SMS,FX0,214.92,210.92,216.69,6,1823820373
...,...,...,...,...,...,...,...,...,...,...
1533278,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR WHATSAPP,FX0,91.88,89.88,74.98,6,1825313026
1533279,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR SMS,FX1,0.0,24.97,53.35,6,1822538083
1533280,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR CORREIO,FX0,120.66,120.66,197.11,6,1822589007
1533281,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR CORREIO,FX0,228.20,228.12,84.38,6,1822651781
1533282,2020-06-13 00:00:00,2020-06-01 00:00:00.000,2020-06-01 00:00:00,FATURA POR CORREIO,FX0,23.89,23.89,249.89,6,1822787035

In [7]:
# Save e substituição do arquivo

df.to_csv(file_name, encoding='utf-8', header='true', index=False)